<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>

    <!-- font awesome kit -->
    <script
      src="https://kit.fontawesome.com/c6eadd0fb1.js"
      crossorigin="anonymous"
    ></script>
    <!-- custom singup css -->
    <link rel="stylesheet" href="css/signup.css" />
  </head>
  <body>
    <div class="sign-up-container">
      <header><h1>Sign up</h1></header>
      <form action="/" method="post">
        <div class="form-item-container">
          <label for="fullName">Fullname</label>
          <div class="input-container">
            <div class="icon-container"><i class="fa-solid fa-user"></i></div>

            <input type="text" id="fullName" placeholder="Enter your name" />
          </div>
        </div>
        <div class="form-item-container">
          <label for="fullName">Email</label>
          <div class="input-container">
            <div class="icon-container">
              <i class="fa-solid fa-envelope"></i>
            </div>

            <input type="text" id="fullName" placeholder="e.g kells@gmail.com" />
          </div>
        </div>
        <div class="form-item-container">
          <label for="fullName"> Password</label>
          <div class="input-container">
            <div class="icon-container"><i class="fa-solid fa-key"></i></div>

            <input
              type="text"
              id="fullName"
              placeholder="Enter your password"
            />
          </div>
        </div>
        <div class="form-item-container">
          <label for="fullName">Confirm password</label>
          <div class="input-container">
            <div class="icon-container"><i class="fa-solid fa-key"></i></div>

            <input type="text" id="fullName" placeholder="Confirm Password" />
          </div>
        </div>

        <button type="submit" class="btn sign-up">REGISTER</button>
        <span>Have an account?</span> <a href="#"><strong>Sign In</strong> </a>
      </form>
    </div>
  </body>
</html>
