/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-dark-300: 215, 50%, 23%;
  --clr-light: 231 77% 90%;
  
  --clr-white: 0 0% 100%;
  --clr-white-300: 105, 55%, 96%;

  /* font-sizes */
 
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-weight */
  --fw-bold: 700;
  --fw-bolder: 900;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-dark-300));
  background-color: hsl(var(--clr-white-300));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    /* scroll-behavior: auto !important; */
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-accent-2 {
  background-color: hsl(var(--clr-light-300));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-white-300 {
  background-color: hsl(var(--clr-white-300));
}

.text-dark {
  color: hsl(var(--clr-dark-300));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-bolder {
  font-weight: var(--fw-bolder);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* -----dark-mode */
.dark {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white-300));
}

.dark-fade {
  background-color: hsl(230 15% 7%);
  color: hsl(var(--clr-white));
}
/* ------------ */
/* ----styling page  */

.canvas {
  width: 80%;
}

header {
  align-items: center;
  --gap: 3rem;
  min-height: 10vh;
  padding-inline: 2rem;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

header i {
  font-size: var(--fs-500);
}

.searchbox {
  align-items: center;
  flex-basis: 50%;
  margin-left: auto;
  padding: 0.5em 0.25em;
  border: 1px solid hsl(var(--clr-light-300));
  border-radius: 1em;
}

.searchbox input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 80%;
  padding-left: 1em;
}

.searchbox > input + i {
  font-size: var(--fs-500);
}

.settings-container {
  margin-left: auto;
}

/* .dashboard-container{

} */

.sidenav {
  display: flex;
  flex-direction: column;
  width: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 1em;
  min-height: 90vh;
}

.sidenav > .user-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.user-container > .user-logo {
  justify-content: center;
}

.user-container > .user-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.activities-container {
  display: grid;
  place-items: center;
}

.sidenav-hidden {
  opacity: 0;
}

.sidenav-items {
  padding: 0;
}

.sidenav-items > .sidenav-list {
  padding: 1em o;
  list-style: none;
}

.sidenav-list.active {
  border-left: 3px solid hsl(var(--clr-light-300));
}



.sidenav-list > .sidenav-link {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--clr-light-300);
  width: 100%;
  padding: 1em 0.5em;

  text-decoration: none;
  transition: transform .4ms ease-in-out;
}

.sidenav-link:hover {
  background: hsl(var(--clr-white-300));
}

.sidenav-link:hover > i.fa-solid {
  transform: scale(1.2);
}

/* fixing icons not showing */

.fa-calender::before {
  content: "\f133";
}

/* -----custom toggle component */

.toggle-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 2em 0;
}

/* hiding the checkbox */
.toggler {
  position: absolute;
  opacity: 0;
  left: -9990px;
}

.toggle-box {
  display: flex;
  align-items: center;
  position: relative;

  cursor: pointer;

  padding: 0.5em;
}

.toggle-box::before {
  content: "";
  width: 2em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 1em;
  background-color: hsl(var(--clr-white-300));
}

.toggle-box::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: hsl(var(--clr-light-300));
}

.toggle-box ~ i {
  position: absolute;
  left: 1em;
  transition: all 0.4ms ease-in-out;
}

/* initiating the switch */

.toggler:checked + .toggle-box::after {
  left: 1.5em;
}

.toggler:checked + .toggle-box + i::before {
  content: "\f186";
}

.sidenav.open {
  width: 200px;
}

.sidenav.open .user-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.sidenav.open .activities-container {
  display: block;
}

.sidenav.open .sidenav-list {
  padding: 0;
}


.sidenav.open .sidenav-hidden {
  opacity: 1;
}

.sidenav.open .toggle-box {
  left: 1em;
}
