.tasks-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  --gap: 3rem;
  padding-top: 1.5em;
  min-height: 100vh;
}

.new-tasks,
.tasks-in-progress,
.completed-tasks {
  flex-direction: column;
  --gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1em 0.5em;
}

.new-tasks > div,
.tasks-in-progress div,
.completed-tasks div {
  padding: 1em 0.5em;
  border-radius: 0.5rem;
  background-color: hsl(var(--clr-white-300));
}

.counter-container {
  justify-content: space-between;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: hsl(var(--clr-dark) / 0.2);
  border: 1px solid orange;
  border-radius: .5em;
}

.add-item {
  min-height: 2em;
  border-radius: 0.5em;
  font-family: var(--fw-bold);
  border: none;
  outline: none;
}

.add-item:hover,
.add-item:focus {
  border: none;
  outline: none;
  background-color: hsl(var(--clr-dark) / 0.2);
}

.tasks {
  margin: 1em 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: hsl(var(--clr-light));
}

.tasks > .task-list {
  padding: 1em 0.5em;
  border-radius: 0.5em;
  background-color: hsl(var(--clr-white-300));
  list-style-type: none;
}

.task-form-container {
  display: none;
  transition: display 400ms ease-in;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

}

.task-form > textarea {
  max-width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.task-form-container.active {
  display: block;
}
