.tasks-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  --gap: 3rem;
  padding-top: 1.5em;
  min-height: 100vh;
}

.new-tasks,
.tasks-in-progress,
.completed-tasks {
  flex-direction: column;
  --gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1em 0.5em;
}

.new-tasks div,
.tasks-in-progress div,
.completed-tasks div {
  padding: 1em 0.5em;
  border-radius: 0.5rem;
  background-color: hsl(var(--clr-white-300));
}

.counter-container {
  justify-content: space-between;
}

.counter {
  width: 2em;
  height: 2em;
  background-color: hsl(var(--clr-dark) / 0.2);
  border: 1px solid orange;
}

.add-item {
  min-height: 2em;
  border-radius: 0.5em;
  font-family: var(--fw-bold);
  border: none;
  outline: none;
}

.add-item:hover,
.add-item:focus {
  border: none;
  outline: none;
  background-color: hsl(var(--clr-dark) / 0.2);
}

.tasks {
  padding: 1em 0.5em;
  border-radius: 0.5em;
  background-color: hsl(var(--clr-white-300));
}

.tasks > .task-list {
  list-style-type: none;
}

/* -----modal styling */
.modal {
    cursor: pointer;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;

  max-width: 50ch;
  border: 1px solid gray;
  box-shadow: 0 0 1em rgb(0 0 0/ 0.3);
  border-radius: 5px;
  padding: min(0.5em, 1em) min(0.25em, 0.5em);
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-form {
    display: flex;
    flex-direction: column;
}


.modal.active {
    transform: translate(-50%,-50%) scale(1);
}

#overlay {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg,hsl(var(--clr-dark)/.2),hsl(var(--clr-light)/.3));
      
      

}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    transition: 200ms ease-in-out;
}

