*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor-300: hsl(2, 95%, 85%);
  --primaryColor-500: hsl(2, 95%, 75%);
  --secondaryColor-300: hsl(2, 63%, 92%);
  --secondaryColor-500: hsl(2, 63%, 82%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 1.125rem;
  border: none;
  outline: none;
  line-height: 1.7;
  background-color: var(--primaryColor-500);
  color: hsl(232, 21%, 29%);
}

a {
  text-decoration: none;
  padding: 0.5em 0.25em;
  color: hsl(232, 21%, 29%);
}

.sign-up-container {
  border: 1px solid var(--primaryColor-300);
  border-radius: 3px;
  padding: 1rem 1.5rem;
  background-color: var(--primaryColor-500);
  color: var(--secondaryColor-300);
}

.form-item-container {
  margin-bottom: 1rem;
}

header h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: var(--secondaryColor-500);
}

label {
  font-weight: 900;
  margin-bottom: 0.5em;
}

.input-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--primaryColor-300);
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 0.25em 0.5em;
}

.icon-container {
  display: flex;
  align-items: center;
}

.input-container input {
  width: 80%;
}

.btn {
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.75rem 0.5rem;
  outline: none;
  outline: none;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: hsl(232, 21%, 29%);
  color: var(--secondaryColor-300);
}

.btn:hover {
  font-weight: bolder;
}
